<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required: internet access for eBay API calls -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required: detect connectivity status for offline mode -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="eBay Listings"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Handle eBay links (optional deep-link support) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="ebay.com"/>
            </intent-filter>
        </activity>

        <!-- Required for url_launcher to open browser -->
        <queries>
            <intent>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="https"/>
            </intent>
        </queries>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Targeting Android 13+ -->
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34"/>

</manifest>
